= form_for @personne,:html => {:class => "pure-form pure-form-aligned"} do |f|
  - if @personne.errors.any?
    #error_explanation
      %h2= "#{pluralize(@personne.errors.count, "error")} prohibited this personne from being saved:"
      %ul
        - @personne.errors.full_messages.each do |msg|
          %li= msg

  = render :partial => "personnes/form_fields", :locals => {:f => f, :reg => @reg_pers, :personne => @personne}

  .actions
    = f.submit 'Save', :class => "pure-button pure-button-success"
