= render partial: "personnes/form_section/myinfo1", :locals => {:f => f, :reg => reg, personne: @personne}
= render partial: "personnes/form_section/myinfo2", :locals => {:f => f, :reg => reg, personne: @personne}
= render partial: "personnes/form_section/contactperson", :locals => {:f => f, :reg => reg, personne: @personne}
= render partial: "personnes/form_section/mensurations", :locals => {:f => f, :reg => reg, personne: @personne}
- if (@commandes && @commandes.new_record?)
  = render partial: "personnes/form_section/commande", :locals => {:f => f, :reg => reg, personne: @personne}
= render partial: "personnes/form_section/residence", :locals => {:f => f, :reg => reg, personne: @personne}
- if (@commandes && @commandes.new_record?)
  = render partial: "personnes/form_section/confirmation", :locals => {:reg => reg, personne: @personne}



- if can? :see_admin, User
  .section.sfullscreen
    .container
      .row
        %h3 Administration
        %ul
          %li
            .row
              .input-field.col.s10
                =f.text_area :commentaires_admin
                =f.label :commentaires_admin
          %li
            .row
              .input-field.col.s10
                =f.check_box :documentassurance
                =f.label :documentassurance
          %li
            .row
              .input-field.col.s10
                =f.check_box :moderated
                =f.label :moderated

=f.hidden_field :user_id
