.shadow-1
  %div.top-info.pa1
    %h1
      Personnes

      .right
        - @nb_by_type.each do |type, nb|
          .tag.blue.ma1
            =nb
            =type
  %div.pa1.fiche.brdr-b
    %p
      = form_tag personnes_path, :method => :get do
        = text_field_tag :search, params[:search]
        = hidden_field_tag "id"
        = submit_tag 'Recherche', :nom => nil, :class => "pure-button pure-button-success pure-button-xsmall "
    %p Nombre de personnes: #{@personnes_tot.count} dont #{@personnes_tot.where(enregistrement_termine: true).count} inscrite(s)
    %table.striped.alternate
      %thead
        %tr
          %th.w50p=sortable "id"
          %th=sortable "nom", "Nom"
          %th=sortable "prenom"
          %th=sortable "type_pers", "Type"
          %th Referant
          %th=sortable "documentassurance", "Justificatif assurance (RC)"
          %th=sortable "moderated", "Validé"
          %th=sortable "disabled", "Supprimé"
      %tbody
        - @personnes.each do |p|
          %tr
            %td=link_to p.id, personne_path(p.id)
            %td=link_to p.nom, personne_path(p.id)
            %td=p.prenom
            %td=p.type_pers
            %td=conditional_format(p.is_referant?)
            %td=conditional_format(p.documentassurance)
            %td=conditional_format(p.moderated)
            %td=conditional_format(p.disabled?)

    = will_paginate @personnes_tot
    = link_to "En attentes de validation (#{@to_moderate_nbr})", to_moderate_personnes_path, :class => "pure-button pure-button-primary"
