!!!
%html{:lang => "fr"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title Skioz'Arts
    %link{:href => "images/favicon.png", :rel => "icon", :type => "image/png"}/
    /[if IE] <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    / CSS
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "css/materialize.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/style.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}/
  %body
    .navbar-fixed.hide-on-med-and-down
      %nav{:role => "navigation"}
        .nav-wrapper.container
          %a#logo-container.brand-logo.center.white-text{:href => "index.html"}
            %img{:height => "113px", :src => "images/skz_2018_logo.png"}/
          %ul.hide-on-med-and-down
            %li
              %a.dropdown-button{"data-activates" => "dropdownEvent", :href => "index.html"} L'évènement
            %li
              %a{:href => "lepack.html"} Le Pack
            %li
              %a{:href => "signin.html"} Inscription
            %li
              %a{:href => "lateam.html"} La Team
          %ul#dropdownEvent.dropdown-content
            %li
              %a{:href => "evenement.html"} La Station
            %li
              %a{:href => "histoire.html"} Un peu d'histoire
            %li
              %a{:href => "pistes.html"} Les Anim's Pistes
            %li
              %a{:href => "soirees.html"} Les Soirées
    .navbar.hide-on-large-only
      %nav{:role => "navigation"}
        .nav-wrapper.container
          %a#logo-container.brand-logo.center.white-text{:href => "index.html"}
            %img{:height => "113px", :src => "images/skz_2018_logo.png"}/
          %ul#nav-mobile.side-nav
            %li
              %a.dropdown-button{:href => "index.html"} L'évènement
            %ul
              %li
                %a{:href => "evenement.html"} La Station
              %li
                %a{:href => "histoire.html"} Un peu d'histoire
              %li
                %a{:href => "pistes.html"} Les Anim's Pistes
              %li
                %a{:href => "soirees.html"} Les Soirées
            %li
              %a{:href => "lepack.html"} Le Pack
            %li
              %a{:href => "signin.html"} Inscription
            %li
              %a{:href => "lateam.html"} La Team
          %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
            %i.material-icons menu
    .row
      .col.m11
        #mon_pack.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Mon pack
        .section.sfullscreen
          .container
            .row
              %ul#monpack_infos
                %li
                  %h3{:style => "color: #f99c43;"} Le Pack de base contient :
                %li
                  %h6 1. Le logement dans la résidence au pied des pistes. Taxes de séjour comprises.
                %li
                  %h6 2. Le Pack Food pour 7 jours (matin, midi et soir) quelques soit ton régime alimentaire.
                %li
                  %h6 3. Le forfait domaine pour skier pendant tout le séjour.
                %li
                  %h6 4. Les animations sur les pistes : compétitions, barbecue... (hors activités spéciales payantes)
                %li
                  %h6 5. Les animations soirées (hors RCC).
                %li
                  %h6 6. Les Goodies ! Surprise...
            .row
              .input-field.col.s12.m4.offset-m4
                %select#pack
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Je choisis mon pack :
                  %option{:value => "1"} PG : 295€
                  %option{:value => "2"} Archi (promo 213 et antérieures) : 345€
                  %option{:value => "3"} Extérieur : 345€
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#le_transport"}
                Suivant
                %i.material-icons.right send
        #le_transport.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Le transport
        .section.sfullscreen
          .container
            .row
              %h5 Le car c'est l'occasion de chouiller avec tes cop's !
              .input-field.col.s12.m4.offset-m4
                %select#transport
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Je souhaite venir en car de :
                  %option{:value => "1"} Birse : 85€
                  %option{:value => "2"} Boquette : 90€
                  %option{:value => "3"} Bordel's : 90€
                  %option{:value => "4"} Chalon's : 80€
                  %option{:value => "5"} Clun's : 60€
                  %option{:value => "6"} KIN : 60€
                  %option{:value => "7"} P3 : 90€
                  %option{:value => "8"} Siber's : 85€
                  %option{:value => "9"} Je viendrai par mes propres moyens
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#la_residence"}
                Suivant
                %i.material-icons.right send
        #la_residence.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 La Resid's
        .section.sfullscreen
          .container
            .row
              %h5 Choisis le type de résidence que tu préfères :
              %h6 Remarque : La repart's sera faite plus tard
              .input-field.col.s12.m4.offset-m4
                %select#resids
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Je préfère loger dans la resid's :
                  %option{:value => "1"} Anim's +
                  %option{:value => "2"} Anim's
                  %option{:value => "3"} Calme
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#les_options"}
                Suivant
                %i.material-icons.right send
        #les_options.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Les options
        .section.sfullscreen
          .container
            .row
              %h6{:style => "color: #f99c43;"} Pack food sans porc :
              .switch
                %label
                  Non
                  %input#food{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
            .row
              %br/
              %h5{:style => "color: #f99c43;"} Et maintenant, fais toi plaisir !
              %br/
              %h6 Le pack saucisson : 5 saucissons pour 10€
              .switch
                %label
                  Non
                  %input#saucisson{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              %br/
              %h6 Le pack fromage : 5 fromages pour 10€
              .switch
                %label
                  Non
                  %input#fromage{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              %br/
              %h6 Le pack baguette : 1 baguette tous les matins pour 3€50
              .switch
                %label
                  Non
                  %input#baguette{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              %br/
              %h6 Le pack croissant : 1 croissant tous les matins pour 3€30
              .switch
                %label
                  Non
                  %input#croissant{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              %br/
              %h6 Le pack chocolatin's : 1 chocolatine tous les matins pour 3€60
              .switch
                %label
                  Non
                  %input#choc{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#les_skis"}
                Suivant
                %i.material-icons.right send
        #les_skis.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Les Skis
        .section.sfullscreen
          .container
            .row
              %h5 Choisis la gamme de ski que tu souhaites
              %table
                %thead
                  %tr
                    %th Gamme
                    %th Contenu
                %tbody
                  %tr
                    %td Ecoski
                    %td
                      Skis + chaussures : 50€
                      %br/
                      Skis seuls : 45€
                      %br/
                      Chaussures seules : 35€
                      %br/
                  %tr
                    %td Découverte
                    %td
                      Skis + chaussures : 65€
                      %br/
                      Skis seuls : 59€
                      %br/
                      Chaussures seules : 45€
                      %br/
                  %tr
                    %td Sensation
                    %td
                      Skis + chaussures : 82€
                      %br/
                      Skis seuls : 74€
                      %br/
                      Chaussures seules : 61€
                      %br/
                  %tr
                    %td Excellence
                    %td
                      Skis + chaussures : 116€
                      %br/
                      Skis seuls : 111€
                      %br/
                      Chaussures seules : 98€
                      %br/
              .input-field.col.s12.m4.offset-m4
                %select#skis
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Je veux :
                  %optgroup{:label => "Gamme Ecoski"}
                    %option{:value => "1"} Skis + Chaussures Ecoski
                    %option{:value => "2"} Skis seuls Ecoski
                    %option{:value => "3"} Chaussures seules Ecoski
                  %optgroup{:label => "Gamme Découverte"}
                    %option{:value => "4"} Skis + Chaussures Découverte
                    %option{:value => "5"} Skis seuls Découverte
                    %option{:value => "6"} Chaussures seules Découverte
                  %optgroup{:label => "Gamme Sensation"}
                    %option{:value => "7"} Skis + Chaussures Sensation
                    %option{:value => "8"} Skis seuls Sensation
                    %option{:value => "9"} Chaussures seules Sensation
                  %optgroup{:label => "Gamme Excellence"}
                    %option{:value => "10"} Skis + Chaussures Excellence
                    %option{:value => "11"} Skis seuls Excellence
                    %option{:value => "12"} Chaussures seules Excellence
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#mensurations"}
                Suivant
                %i.material-icons.right send
        #mensurations.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Tes mensurations
        .section.sfullscreen
          .container
            .row
              %h5 Je donne mes mensurations pour réserver mon matériel :
              %form.col.s12
                %ul
                  %li
                    .row
                      .input-field.col.s10.m5
                        %input#taillecm.validate{:type => "text"}/
                        %label{:for => "taillecm"} Taille (cm)
                      .input-field.col.s10.m5
                        %input#pointure.validate{:type => "text"}/
                        %label{:for => "pointure"} Pointure
                  %li
                    .input-field.col.s12.m4
                      %select#taille
                        %option{:disabled => "disabled", :selected => "selected", :value => ""} Taille (S/M/L) :
                        %option{:value => "1"} S
                        %option{:value => "2"} M
                        %option{:value => "3"} L
                  %li
                    .input-field.col.s12.m4
                      %select#tete
                        %option{:disabled => "disabled", :selected => "selected", :value => ""} Tour de tête :
                        %option{:value => "1"} 56-59 cm
                        %option{:value => "2"} 59-62 cm
                  %li
                    .input-field.col.s12.m4
                      %select#niveau
                        %option{:disabled => "disabled", :selected => "selected", :value => ""} Niveau de ski :
                        %option{:value => "1"} Débutant
                        %option{:value => "2"} Intermédiaire
                        %option{:value => "3"} Avancé
            %br/
            %a.btn.waves-effect.waves-light.right{:href => "#les_anims"}
              Suivant
              %i.material-icons.right send
        #les_anims.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Les Anim's
        .section.sfullscreen
          .container
            .row
              %h5 Choisis les anim's auxquelles tu veux participer :
              Classe les anim's en fonction de ta préférence (0 à 7). 0 ou rien = ça ne m'interesse pas. 1 : mon choix numéro 1, 7 : celui que je veux en dernier
              %br/
              .input-field.col.s12.m8.offset-m2
                %select#rcc
                  %option{:disabled => "disabled", :selected => "selected", :style => "color: #f99c43;", :value => ""} RCC (10€) :
                  %option{:value => "1"} Oui
                  %option{:value => "2"} Non
              .input-field.col.s6.m3
                %select#freeride
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Freeride (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select#raquette
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Raquette (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Biathlon (5€) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Handiski (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Telemark (10€) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Sortie rando (15€) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Initiation ski (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Initiation snow (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Initiation ARVA (gratuit) :
                  %option{:value => "1"} 0
                  %option{:value => "2"} 1
                  %option{:value => "3"} 2
                  %option{:value => "4"} 3
                  %option{:value => "5"} 4
                  %option{:value => "6"} 5
                  %option{:value => "7"} 6
                  %option{:value => "8"} 7
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Slalom (gratuit) :
                  %option{:value => "1"} Salom Ski Homme
                  %option{:value => "2"} Salom Ski Femme
                  %option{:value => "3"} Salom Snow Homme
                  %option{:value => "4"} Salom Snow Femme
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Derby (gratuit) :
                  %option{:value => "1"} Derby Ski Homme
                  %option{:value => "2"} Derby Ski Femme
                  %option{:value => "3"} Derby Snow Homme
                  %option{:value => "4"} Derby Snow Femme
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Boardercross (gratuit) :
                  %option{:value => "1"} Boardercorss Ski Homme
                  %option{:value => "2"} Boardercorss Ski Femme
                  %option{:value => "3"} Boardercorss Snow Homme
                  %option{:value => "4"} Boardercorss Snow Femme
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Snakegli'sss (gratuit) :
                  %option{:value => "1"} Oui
                  %option{:value => "2"} Non
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Show-compétion freestyle (gratuit) :
                  %option{:value => "1"} Oui
                  %option{:value => "2"} Non
              .input-field.col.s6.m3
                %select
                  %option{:disabled => "disabled", :selected => "selected", :value => ""} Descente aux flambeaux (payant) :
                  %option{:value => "1"} Oui
                  %option{:value => "2"} Non
            %br/
            %a.btn.waves-effect.waves-light.right{:href => "#la_super_option"}
              Suivant
              %i.material-icons.right send
        #la_super_option.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 La super option
        .section.sfullscreen.masque
          .container
            .row
              %br/
              %h5{:style => "color: #f99c43;"} Et maintenant, fais toi encore plus plaisir !
              %img.illustration.img_ryft{:alt => "Masque Ryft", :src => "images/masque/ryft_11.jpg"}/
              %h5 Un masque Ryft haut de gamme à prix PG !
              %a{:href => "https://ryftoptics.com/shop/ski-goggles/goggle/?currency=EUR", :style => "color: #f99c43;", :target => "_blank"} Le site de Ryft
              %br/
              %br/
              %h6 J'en veux un pour seulement 33€ (soit 65% de réduction !)
              %h6 Stock restant :
              .switch.switch_masque
                %label
                  Non
                  %input#masque{:type => "checkbox"}/
                  = succeed "Oui" do
                    %span.lever
              #choix_masque
                .row
                  .input-field.col.s12.m4.offset-m2
                    %select#couleur_cadre.couleur_masque
                      %option{:disabled => "disabled", :selected => "selected", :value => ""} Couleur du cadre :
                      %option{:value => "1"} Bleu
                      %option{:value => "2"} Rouge
                      %option{:value => "3"} Rose
                      %option{:value => "4"} Blanc
                      %option{:value => "5"} Jaune
                  .input-field.col.s12.m4
                    %select#couleur_verre.couleur_masque
                      %option{:disabled => "disabled", :selected => "selected", :value => ""} Couleur du verre :
                      %option{:value => "1"} Bleu
                      %option{:value => "2"} Noir
                      %option{:value => "3"} Rouge
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#assurances"}
                Suivant
                %i.material-icons.right send
        #assurances.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Les assurances
        .section.sfullscreen
          .container
            .row
              %br/
              %h5{:style => "color: #f99c43;"} Tu veux une assurance ?
              %div
                %br/
                %h6 Assurance Annulation (20€)
                %p Permet en cas de problème majeur (blessure, décès d’un proche…) justifié par un document officiel 48h avant le départ de se faire rembourser du prix du package (hors coût de l’assurance).
                .switch
                  %label
                    Non
                    %input{:type => "checkbox"}/
                    = succeed "Oui" do
                      %span.lever
                %br/
                %h6 Assistance rapatriement/bagages (20€)
                %p Permet en cas de blessures lors du séjour d’être remboursé des frais de rapatriement jusqu’au lieu de soin et/ou de domicile. (exemple barquette + frais pisteurs en cas de rapatriement sur les pistes, rapatriement par hélicoptère…). Attention elle ne sera pas valable en cas de rapatriement hors pistes ou en cas de comportement non autorisé.
                .switch
                  %label
                    Non
                    %input{:type => "checkbox"}/
                    = succeed "Oui" do
                      %span.lever
                %br/
                %h6 Assurance interruption ski-pass (15€)
                %p Permet en cas de problème majeur (ex : blessure pendant votre semaine) justifié par un document officiel/médical de se faire rembourser le prix du forfait et du matériel au pro rata des jours non-skiés.
                .switch
                  %label
                    Non
                    %input{:type => "checkbox"}/
                    = succeed "Oui" do
                      %span.lever
                %br/
                %h6 Tout compris (33€)
                %p Les 3 assurances précédentes
                .switch
                  %label
                    Non
                    %input{:type => "checkbox"}/
                    = succeed "Oui" do
                      %span.lever
              %br/
              %a.btn.waves-effect.waves-light.right{:href => "#confirmation"}
                Suivant
                %i.material-icons.right send
        %br/
        #confirmation.divider.scrollspy
        .container
          .row
            .col.s12.light-blue.white-text.center
              %h4 Confirmation
        .section.sfullscreen
          .container
            .row
              %h5{:style => "color: #f99c43;"} Tu as pris :
              %table
                %thead
                  %tr
                    %th Intitulé
                    %th Choix
                    %th Prix
                %tbody
                  %tr
                    %td Pack de base
                    %td#res_pack
                    %td 290€
                  %tr
                    %td Transport
                    %td#res_transport
                    %td 90€
                  %tr
                    %td La Resid's
                    %td#res_resids
                    %td 90€
                  %tr
                    %td Pack food sans porc
                    %td#res_food Non
                    %td 90€
                  %tr
                    %td Pack Saucisson
                    %td#res_saucisson Non
                    %td 90€
                  %tr
                    %td Pack Fromage
                    %td#res_fromage Non
                    %td 90€
                  %tr
                    %td Pack Baguette
                    %td#res_baguette Non
                    %td 90€
                  %tr
                    %td Pack Croissant
                    %td#res_croissant Non
                    %td 90€
                  %tr
                    %td Option chocolatine
                    %td#res_choc Non
                    %td 3,00€
                  %tr
                    %td Les Skis
                    %td#res_skis
                    %td
                  %tr
                    %td Tes Mensurations - taille (cm)
                    %td#res_taillecm
                    %td
                  %tr
                    %td Tes Mensurations - pointure
                    %td#res_pointure
                    %td
                  %tr
                    %td Tes Mensurations - taille
                    %td#res_taille
                    %td
                  %tr
                    %td Tes Mensurations - tour de tête
                    %td#res_tete
                    %td
                  %tr
                    %td Ton niveau de ski
                    %td#res_niveau
                    %td
                  %tr
                    %td Anim's - RCC
                    %td#res_rcc
                    %td 10€
                  %tr
                    %td Anim's - Freeride
                    %td#res_freeride
                    %td 3€
                  %tr
                    %td Anim's - Raquette
                    %td#res_raquette
                    %td 3€
                  %tr
                    %td
                    %td
                    %td
                  %tr
                    %td Masque
                    %td#res_masque
                    %td 3€
                  %tr
                    %td Couleur cadre
                    %td#res_couleur_cadre
                    %td 3€
                  %tr
                    %td Couleur verre
                    %td#res_couleur_verre
                    %td 3€
                  %tr
                    %td
                      %b Total
                    %td
                    %td
                      %b 215
              %br/
              %a.waves-effect.waves-light.btn{:href => "#reglement"} Lire le règlement
              / Modal Structure
              #reglement.modal.modal-fixed-footer
                .modal-content
                  %h5 Le règlement
                  %p
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                    Code de bonne conduit, bla bla bla bla bla...
                .modal-footer
                  %a.modal-action.modal-close.waves-effect.waves-green.btn-flat Accepter
                  %a.modal-action.modal-close.waves-effect.waves-green.btn-flat Refuser
              %a.btn.waves-effect.waves-light.right{:action => "submit"}
                Confirmer
                %i.material-icons.right send
      .col.hide-on-small-only.m1
        .toc-wrapper.pinned
          %ul.section.table-of-contents
            %li
              %a{:href => "#mon_pack"} Mon Pack
            %li
              %a{:href => "#le_transport"} Le transport
            %li
              %a{:href => "#la_residence"} La Resid's
            %li
              %a{:href => "#les_options"} Les Options
            %li
              %a{:href => "#les_skis"} Les Skis
            %li
              %a{:href => "#mensurations"} Tes mensurations
            %li
              %a{:href => "#les_anims"} Les Aninm's
            %li
              %a{:href => "#la_super_option"} La super option
            %li
              %a{:href => "#assurances"} Les Assurances
            %li
              %a{:href => "#confirmation"} Confirmation
    / Scripts
    %script{:src => "js/jquery-2.1.1.min.js"}
    %script{:src => "js/materialize.js"}
    %script{:src => "js/init.js"}
    %script{:src => "js/fonctions.js"}
