= form_for @typeresid do |f|
  - if @typeresid.errors.any?
    #error_explanation
      %h2= "#{pluralize(@typeresid.errors.count, "error")} prohibited this typeresid from being saved:"
      %ul
        - @typeresid.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
