%div.top-info.pa1
	%h1 Dashboard admin

%div.fiche.pa1.brdr-b
	=link_to "Voir tous les graphiques", admin_graph_path, :class => "pure-button pure-button-primary"
	= link_to "Comptes", users_path, :class => "pure-button pure-button-primary"
	= link_to "Paiements", paiements_path, :class => "pure-button pure-button-primary"
	= link_to "Validation paiements", check_paiement_path, :class => "pure-button pure-button-primary"
	= link_to "Reboursements", remboursements_path, :class => "pure-button pure-button-primary"
	%h2 Validation	
	= link_to "Validation assurance", add_assurance_personnes_path, :class => "pure-button pure-button-primary"
	= link_to "Validation cautions", add_caution_commandes_path, :class => "pure-button pure-button-primary"
	%h2 Gestion des chambres
	= link_to "Assignement des chambres", assign_chambres_path, :class => "pure-button pure-button-primary"
	%h2 Activitées
	= link_to "Activités", activites_path, :class => "pure-button pure-button-primary"
	
	


%div.fiche.pa1.brdr-b
	Nombre de personnes inscrites:
	%span=@nbrPersonnes
	/ Nombre de personnes non assurées:
	/ %span=@nbrPersonnesNonAssuree



%div.top-info.pa1
	%h2 Configuration avancée
%div.fiche.pa1.brdr-b
	%p Si tu cliques ici, c'est que tu sais ce que tu fais et que t'assume de tout casser.
	%p=link_to "Configuration avancée", admin_configurable_path, :data => { :confirm => "Attention, tu vas toucher à des trucs que même Chuck Norris n'ose pas toucher. T'es bien certain?"}
	%p=link_to "Import des chambres", import_chambres_path, :data => { :confirm => "Attention, tu vas toucher à des trucs que même Chuck Norris n'ose pas toucher. T'es bien certain?"}
	%p=link_to "Import des produits vers les activites", import_activites_path, :data => { :confirm => "Attention, tu vas toucher à des trucs que même Chuck Norris n'ose pas toucher. T'es bien certain?"}