= form_for @commande, :html => {:class => "pure-form pure-form-aligned"} do |f|
  - if @commande.errors.any?
    #error_explanation
      %h2= "#{pluralize(@commande.errors.count, "error")} prohibited this commande from being saved:"
      %ul
        - @commande.errors.full_messages.each do |msg|
          %li= msg
  -if @commande.personne_id
    =f.hidden_field :personne_id
  -else
    .field.pure-control-group
      =f.label :personne_id
      =f.select :personne_id,current_user.personnes.map{|t| [t.nom_complet, t.id]} ,:class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :event_id, "Evenement"
    =f.select :event_id, Event.all.map{|t| [t.name,t.id]}, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :tbk_id, "Centre gérant la commande"
    =f.select :tbk_id, Tbk.all.map{|t| [t.nom_complet,t.id]}, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :glisse_id
    =f.select :glisse_id, Glisse.all.map{|t| [t.nom,t.id]}, :class => "pure-input-1-3"
  .field.pure-control-group
    =f.label :pack_id
    =f.select :pack_id, Pack.all.map{|t| [t.nom,t.id]}, :class => "pure-input-1-3"

  .actions
    = f.submit 'Créer la commande!', :class => "pure-button pure-button-success"