%div.top-info.pa1
  %h1 Ajouter des produit à ma commande
%div.fiche.pa1.brdr-b
  -@categories.each do |c|

    -unless c[:nom].blank?
      %h2= c[:nom]
    -if not(c[:max]) || c[:max]>1
      %table.striped.alternate
        %thead
          %tr
            %th
            %th Produit
            %th Disponible
            %th Prix (€)
        %tbody
          -c[:products].each do |p|
            %tr
              %td
                =button_to_function "+" , "add_to_commande(#{@commande.id},#{p.id})", :class => "pure-button pure-button-success"
                %span{ :id => 'product'+p.id.to_s}
                  =!@commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nil? ? @commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nombre  : "0"
                =button_to_function "-" , "remove_to_commande(#{@commande.id},#{p.id})", :class => "pure-button pure-button-error"
              %td=link_to p.name, product_path(p.id)
              %td=conditional_format(p.reste?)
              %td=p.price_euro
    -else
      %table.striped.alternate
        %thead
          %tr
            %th Produit
            %th Disponible
            %th Prix (€)
        %tbody
          -c[:products].each do |p|
            %tr
              %td=link_to p.name, product_path(p.id)
              %td=conditional_format(p.reste?)
              %td=p.price_euro
      Choix :
      =select_tag 'choix_cat'+c[:id].to_s, options_for_select(c[:products].map{|p| [p.name,p.id]}, c[:selected]), include_blank: true, :class => 'select_cat',:onchange => "maj_cat_product(#{@commande.id.to_s},#{c[:id].to_s})"
            
  =link_to "Résumé de la commande", commande_path(@commande.id), :class => "pure-button pure-button-primary"
