.shadow-1
  %div.top-info.pa1
    %h1 Modifier ma commande (Ajout de produits)
  %div.fiche.pa1.brdr-b

    .box.pa1
      %p Attention, il est possible que le nombre de produits commandés ne s'actualise pas toujours correctement sur cette page. Rafraichir la page manuellement régle le problème (touche F5). Vérifiez bien votre récapitulatif de commande avant de payer!
    -@categories.each do |c|

      -unless c[:nom].blank?
        %h2= c[:nom]
      -if not(c[:max]) || c[:max]>1
        - if c[:id] == 10
          %table.striped.alternate
            %thead
              %tr
                %th
                %th Produit
                %th Disponible
                %th Prix (€)
            %tbody
              -c[:products].each do |p|
                %tr
                  %td
                    - if Configurable[:modification_options]
                      - if p.reste_masque?
                        %button{onclick: "add_to_commande(#{@commande.id},#{p.id})", class: "btn-floating btn-tiny"}
                          +
                    %span{ :id => 'product'+p.id.to_s}
                      =!@commande.commande_products.find_by(product_id: p.id).nil? ? @commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nombre  : "0"
                    - if Configurable[:modification_options]
                      %button{onclick: "remove_to_commande(#{@commande.id},#{p.id})", class: "btn-floating btn-tiny"}
                        \-
                  %td
                    = link_to product_path(p.id) do
                      #{p.name}
                      %img.illustration.img_ryft{:alt => "Masque Ryft", :src => p.image, :style => "width: 30%;"}/
                  %td=conditional_format(p.reste_masque?)
                  %td=p.price_euro
        - else
          %table.striped.alternate
            %thead
              %tr
                %th
                %th Produit
                %th Disponible
                %th Prix (€)
            %tbody
              -c[:products].each do |p|
                %tr
                  %td
                    - if Configurable[:modification_options]
                      - if p.reste?
                        %button{onclick: "add_to_commande(#{@commande.id},#{p.id})", class: "btn-floating btn-tiny"}
                          +
                    %span{ :id => 'product'+p.id.to_s}
                      =!@commande.commande_products.find_by(product_id: p.id).nil? ? @commande.commande_products.find_by(commande_id: @commande.id, product_id: p.id).nombre  : "0"
                    - if Configurable[:modification_options]
                      %button{onclick: "remove_to_commande(#{@commande.id},#{p.id})", class: "btn-floating btn-tiny"}
                        \-
                  %td=link_to p.name, product_path(p.id)
                  %td=conditional_format(p.reste?)
                  %td=p.price_euro
      -else
        %table.striped.alternate
          %thead
            %tr
              %th Produit
              %th Disponible
              %th Prix (€)
          %tbody
            -c[:products].each do |p|
              %tr
                %td=link_to p.name, product_path(p.id)
                %td=conditional_format(p.reste?)
                %td=p.price_euro
  
        - if c[:id] == 1
          - if current_user.admin?
            Choix :
            =select_tag 'choix_cat'+c[:id].to_s, options_for_select(c[:products].map{|p| [p.name,p.id]}, c[:selected]), include_blank: true, :class => 'select_cat',:onchange => "maj_cat_product(#{@commande.id.to_s},#{c[:id].to_s})"
          - else
            Choix: #{@commande.products.where(categorie_id: 1).first.name}
        - else
          Choix :
          =select_tag 'choix_cat'+c[:id].to_s, options_for_select(c[:products].map{|p| [p.name,p.id]}, c[:selected]), prompt: "Fais ton choix :",include_blank: true, :class => 'select_cat',:onchange => "maj_cat_product(#{@commande.id.to_s},#{c[:id].to_s})"
    
              
    =link_to "Résumé de la commande", commande_path(@commande.id), :class => "pure-button pure-button-primary"
