%div.top-info.pa1
  %h1
    Commandes

  =excel_block
  
  %p Nombre de commandes payées: #{Paiement.where(verif: true).map{|p| p.commande}.uniq.count}
  %p Nombre de commandes à l'étape 2: #{@paiements.where(etape: '2').count}
  %p Nombre de commandes entièrement payées: #{@paiements.where(etape: '3').count}

%div.pa1.fiche.brdr-b
  %table.striped.alternate#unfixedtable
    %thead
      %tr
        %th= sortable "idlong", "Commande ID"
        %th= sortable "created_at", "Date de création"
        %th Nom
        %th.w50p 1er paiement
        %th.w50p 2ème paiement
        %th.w50p Payée entièrement
        %th.w150p Aucun produit en attente
        %th.w50p Commande valide
      %tbody
        - @commandes.each do |c|
          %tr
            / %td=c.ean
            %td=link_to c.idlong, commande_path(c.id)
            %td=c.created_at.to_s.gsub("UTC","")
            %td=link_to c.personne.nom_complet, personne_path(c.personne.id) if !c.personne.nil?
            / # Nom de la personne
            %td=conditional_format(c.etape_valide? 1)
            %td=conditional_format(c.etape_valide? 2)
            %td=conditional_format(c.paiementok?)
            %td=conditional_format(c.aucun_produit_en_attente?)
            %td=conditional_format(c.complete?)
  = will_paginate @commande
