= form_for @user, :url => user_infos_user_path(@user), :method => :post do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "erreur")} :"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = render :partial => "new_fields", :locals => {:f => f, :reg => false}

  =f.fields_for @personne do |fp|
    = render :partial => "personnes/new_fields", :locals => {:f => fp, :reg => true}
