.mw960p.center
  .grid-2-small-1
    - @user.personnes.where.not(:disabled =>  true).each do |p| 
      .shadow-1.fiche.mt1.hoverable
        %div.pa1
          .row
            .txtright
              -if p.moderated || current_user.admin?
                = link_to personne_infos_personne_path(p), :class => "btn waves-effect waves-light" do
                  Editer
            .col.s12
              %h2= p.nom_complet

        %div.pr1.pl1.pb1
          - unless p.nil?
            %p
              =p.bucque              
              #{p.fams} #{p.promo}
            %p
              =p.phone
            %p
              Résid's: #{p.typeresid.name}
            %p
              =conditional_format(p.assurance)
              Assurance RC
            %p
              -if Configurable[:display_button_type_residence]
                -if p.typeresid.nil?
                  =link_to "Choisir le type de résidence", typeresids_personne_path(p), :class => "pure-button pure-button-success"
                -else
                  Résidence :
                  =p.typeresid.name.to_s
            -if Configurable[:choix_chambre] == true
              %p=link_to "Choisir ma chambre", choix_chambre_personne_path(p), :class => "pure-button pure-button-success"
  
            .mt1
              -if @events.count > p.commandes.count
                -if p.moderated || current_user.admin?
                  = link_to new_commande_path(@user, pers_id: p.id) do
                    .pure-button.pure-button-success
                      .md-add-circle-outline.btn
                      Nouvelle commande
                -else
                  Personne non validée par les administrateurs


    -if @commandes
      - @commandes.each do |c| 
        .shadow-1.fiche.mt1.hoverable
          %div.pa1
            .row
              .col.s12
                %h2 Ma commande
                .grey-txt 
                  \#
                  =c.idlong
              .col.s12.txtright
                %h3
                  =c.montant_total/100.0
                  €
          %div.pa1.brdr-b
            %p
              =conditional_format(c.etape_valide? 1)
              1er Paiement
            %p
              =conditional_format(c.etape_valide? 2)
              2ème Paiement
            %p
              =conditional_format(c.paiementok?)
              3ème Paiement
            .txtright.mt1
              =link_to "Payer #{c.prochain_paiement / 100.0}€", new_commande_paiement_path(c.id), :class => "pure-button pure-button-success"
              =link_to "Voir", commande_path(c.id), :class => "pure-button pure-button-primary"
  -if false
    .shadow-1
      %div.top-info.pa1
        %h2= @user.nom_complet
      %div.fiche.pa1.brdr-b
        -unless @user.parrain.nil?
          .box.pa1
            %p Votre compte est parrainé par :
            =@user.parrain.referant.nom_complet
        
        -if Rails.env == 'development' && false
          %h2 Infos à afficher sur cette page :
          %ul
            %li
              %del
                Lien pour parrainer une personne :
                -if can? :parrainer, @user
                  = link_to "Parrainer", parrainer_user_path(@user), :class => "pure-button ma1"
            %li 
              %del 
                Lien pour modifier ses informations
            %li    
              %del liste des personnes gérées par cet user
              %ul
                %li 
                  %del Nom
                %li 
                  %del Lien pour modifier ses informations
                %li Avertir si toute les informations ne sont pas enregistrée (il devrait normalement etre redirigé automatiquement vers la pour remplir ces infos mais on sait jamais) => utiliser maPersonne.enregistrement_termine (true si ok, false sinon)
                %li 
                  %del Lien pour passer une commande
                %li 
                  %del Lien pour ajouter une personne
                %del 
                  %li
                    Liste des commandes de chaque user
                    %ul
                      %li Event
                      %li montant total
                      %li Etat de la commande
              %li Indicateur de l'état global des commande (toute les commande ok ?)
  
          %h2 Objets dispos sur cette page :
          %ul
            %li
              @user

      
        -if @user.personnes.where.not(:disabled =>  true).count > 1 #|| current_user.admin?
          %h4 Personnes gérées par ce compte :
          = render :partial => "personne_tree"
  
          %table.alternate#unfixedtable
            %thead
              %tr
                %th Prénom Nom 
                %th assurance
            %tbody
              - @user.personnes.where.not(:disabled =>  true).each do |p| 
                -if p.enregistrement_termine
                  %tr
                    %td
                      =link_to p.nom_complet, personne_path(p.id)
                      -if p.fams=="84"||p.fams=="157"
                        .span.tag.green 
                          Ho yeah un #{p.fams}!
                      -if p.moderated || current_user.admin?
                        = link_to '', personne_infos_personne_path(p), :class => "icon-button md-create  icon-button-h-blue icon-dark right"
                        -unless p.is_referant?
                          = link_to '', p, :method => :delete, :data => { :confirm => 'Êtes-vous certain de supprimer cette personne? La commande associée sera perdue' }, :class => "icon-button icon-button-h-red icon-dark md-clear right"
                    %td=conditional_format(p.assurance)
                    %td
                      -if p.moderated || current_user.admin?
                        = link_to new_commande_path(@user, pers_id: p.id) do
                          .pure-button.pure-button-success
                            .md-add-circle-outline.btn
                            Nouvelle commande
                      -else
                        Personne non validée par les administrateurs
        -else
          - @user.personnes.where.not(:disabled =>  true).each do |p| 
            -if p.enregistrement_termine
              -if p.moderated || current_user.admin?
                = link_to new_commande_path(@user, pers_id: p.id) do
                  .pure-button.pure-button-success
                    .md-add-circle-outline.btn
                    Nouvelle commande
  
      %div.fiche.pa1.brdr-b                
        -if @commandes.count > 1
          %h3 Mes commandes
        -else
          %h3 Ma commande
        %table.alternate
          %thead
            %tr
              %th Commande ID
              / %th Date de création
              %th Evénement
              %th Paiement 1
              %th Paiement 2
              %th Paiement 3
              %th Statut
              %th Montant
            %tbody
              -if @commandes
                - @commandes.each do |c| 
                  %tr
                    / %td=c.id
                    %td
                      =link_to c.idlong, commande_path(c.id)
                      -#=link_to "Recap", commande_show_recap_path(c.id), :class => "pure-button pure-button-primary"
                    / %td=c.created_at.to_s.gsub("UTC","")
                    %td=c.event.name
                    %td=conditional_format(c.etape_valide? 1)
                    %td=conditional_format(c.etape_valide? 2)
                    %td=conditional_format(c.paiementok?)
                    %td=conditional_format(c.complete?)
                    %td=c.montant_total/100.0
  .shadow-1.mt1
    %div.fiche.pa1.brdr-b 
      %h3 Parrainage
      .grid
        .grid2
          %div
            %p Vous pouvez parrainer un ami ou votre Za/Zon. Vous payerez pour elle/lui et gérerez sa réservation depuis votre compte.
  
            .pt1.pb1= link_to "Parrainer un ami", new_personne_user_path(@user), :class => "pure-button pure-button-success"
            
          %div
            -if can? :parrainer, @user
              %p
                Si vous voulez qu'il/elle puisse gérer son compte et payer directement, vous pouvez demander l'ouverture d'un compte. Cette demande est soumise à accepatation de la team SKZ.
            
              .pt1.pb1=link_to  "Demander l'ouverture d'un compte", parrainer_user_path(@user), :class => "pure-button"
    

   
