%div.top-info.pa1
  %h1 Demander l'ouverture d'un compte d'un ami
%div.pa1.fiche.brdr-b
  .row
    .col.m11
      = form_for @user, :url => parrainer_user_path(@parrain), :html => {:class => "col s12"}, :method => :post do |f|
        - if @user.errors.any?
          #error_explanation
            %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
            %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg
   
        %h4.blue-text.text-darken-2 Vous avez la possibilité de demander l'ouverture d'un compte pour un ami.
        %h5 Cette demande est soumise à acceptation de la team SKZ.

        = render :partial => "new_fields", :locals => {:f => f, :reg => true}

      = link_to 'Retour', dashboard_user_path(@parrain)

    .col.hide-on-small-only.m1
      .toc-wrapper.pinned
        %ul.section.table-of-contents
          %li
            %a{:href => "#myinfouser"} Mes infos

