%h1 Parrainer un ami

= form_for @user, :url => parrainer_user_path(@parrain), :method => :post do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  Vous avez la possibilité de parrainer un ami.

  = render :partial => "form_fields", :locals => {:f => f, :reg => true}
  .actions
    = f.submit 'Save'

= link_to 'Retour', dashboard_user_path(@parrain)