%div.top-info.pa1
  %h1 Comptes (users)
%div.fiche.pa1.brdr-b
  %table.striped.alternate
    %thead
      %tr
        %th Id
        %th Nom Parrain (Nbr Validés / Nbr parrainage)
        %th Nom référant
        %th
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= link_to "#{user.parrain.referant.nom_complet} (#{user.parrain.filleuls.where(moderated: true).count}/#{user.parrain.filleuls.count})", user_path(user.parrain)
          %td= user.referant_show
          %td= link_to 'Show', user, :class => "pure-button"
          %td= link_to 'Edit', edit_user_path(user), :class => "pure-button pure-button-primary"
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "pure-button pure-button-error"

  %br

= link_to 'Retour', users_path
