%p#notice= notice

%p
  %b Name:
  = @lit.name
%p
  %b Personne:
  = @lit.personne.nom_complet if @lit.personne.present?
%p
  %b Chambre:
  = @lit.chambre_id

= link_to 'Edit', edit_lit_path(@lit)
\|
= link_to 'Back', lits_path
