<div class="w300p center">
	<div class="top-info pa1">
		<h2>Connexion</h2>
	</div>


	<div class="fiche pa1 brdr-b">
	<h3>Connexion via le CAS</h3>
	<%= render "devise/shared/linkscas" %>
	<h3>Connexion avec mot de passe</h3>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "pure-form") do |f| %>
		<div><%= f.label :email, 'Email' %><br />
			<%= f.email_field :email, :autofocus => true %></div>

			<div><%= f.label :password, 'Mot de passe' %><br />
				<%= f.password_field :password %></div>

				<% if devise_mapping.rememberable? -%>
				<div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Se souvenir de moi' %></div>
				<% end -%>

				<div><%= f.submit "Connection" %></div>
				<% end %>
				<%= render "devise/shared/links" %>
			</div>
</div>
