#assurances.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Les assurances
.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %br/
      %h5{:style => "color: #f99c43;"} Tu veux une assurance ?
      %div
        - @assurances.each do |p|
          %br/
          %h6 #{p.name} (#{p.price_euro.round}€)
          %p #{p.description} 
          = fc.fields_for :products,@commandes.products.build do |fp|
            .switch
              %label{for: "user_personne_commandes_attributes_0_products_attributes_#{44+@assurances.index(p).to_i}_product_id_#{p.id}"}
                Non
                = fp.collection_check_boxes :product_id, Product.where(id: p.id), :id, :oui do
                  %input{:type => "checkbox", :id => "user_personne_commandes_attributes_0_products_attributes_#{44+@assurances.index(p).to_i}_product_id_#{p.id}", :name => "user[personne][commandes_attributes][0][products_attributes][#{44+@assurances.index(p).to_i}][product_id][]", :value => p.id, :data => {name: "Oui", price: "#{p.price_euro.round}€"}}
                  = succeed "Oui" do
                    %span.lever

      %br/
      %a.btn.waves-effect.waves-light.right{:href => "#la_residence"}
        Suivant
        %i.material-icons.right send
