- if (@user && current_page?(new_personne_user_path(@user))) or (@personne.commandes.present? and @events.count > @personne.commandes.count)
  = f.fields_for :commandes do |fc|
    #ma_commande.divider.scrollspy
    .container
      .row
        .col.s12.light-blue.white-text.center
          %h4 Ma commande
    .section.sfullscreen
      .container
        %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
        .row
          .input-field.col.s12.m5
            =fc.hidden_field :event_id, value: 1
          .input-field.col.s12.m5.offset-m4
            =fc.select :tbk_id, Tbk.all.map{|t| [t.nom_complet,t.id]}
            =f.label :tbk_id, "Centre gérant la commande"
        .row
          .input-field.col.s12.m4.offset-m4
            =fc.hidden_field :glisse_id, value: 1
        %br/
        %a.btn.waves-effect.waves-light.right{:href => "#mon_pack"}
          Suivant
          %i.material-icons.right send

    = fc.fields_for :products,@commandes.products.build do |fp|
      = render partial: "personnes/form_section/pack", :locals => {:fp => fp, :reg => reg, personne: @personne}

    = render partial: "personnes/form_section/transport", :locals => {:fc => fc, :reg => reg, personne: @personne}
    = render partial: "personnes/form_section/options", :locals => {:fc => fc, :reg => reg, personne: @personne}

    - if @commandes.new_record?
      = fc.fields_for :products,@commandes.products.build do |fp|
        = render partial: "personnes/form_section/skis", :locals => {:fp => fp, :reg => reg, personne: @personne}
    - else
      = fc.fields_for :products,@commandes.products.where(categorie_id: 7).first do |fp|
        = render partial: "personnes/form_section/skis", :locals => {:fp => fp, :reg => reg, personne: @personne}

    = render partial: "personnes/form_section/anims", :locals => {:fc => fc, :reg => reg, personne: @personne}

    = fc.fields_for :products,@commandes.products.build do |fp|
      = render partial: "personnes/form_section/super_option", :locals => {:fp => fp, :reg => reg, personne: @personne}

    = render partial: "personnes/form_section/assurances", :locals => {:fc => fc, :reg => reg, personne: @personne}

- else
  #ma_commande.divider.scrollspy
  .container
    .row
      .col.s12.light-blue.white-text.center
        %h4 Ma commande
  .section.sfullscreen
    .container
      .row
        Vous ne pouvez pas commander plusieurs fois
