
#les_options.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Les options
.section.sfullscreen
  .container
    = fc.fields_for :products do |fp|
      .row
        %h6{:style => "color: #f99c43;"} Pack food :
        = fp.collection_radio_buttons :id, Product.where(categorie: Categorie.second), :id, :name, {checked: Product.where(categorie: Categorie.second).first.id}

    .row
      %br/
      %h5{:style => "color: #f99c43;"} Et maintenant, fais toi plaisir !
      %br/
      - Product.where(categorie: Categorie.find_by_nom("Boulangerie")).each do |p|
        = fc.fields_for :products do |fp|
          %h6 #{p.name} : #{p.description}
          = fp.collection_check_boxes :product_id, Product.where(id: p.id), :id, :oui
          %br/
    %br/
    %a.btn.waves-effect.waves-light.right{:href => "#les_skis"}
      Suivant
      %i.material-icons.right send

