#mon_pack.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Mon pack
.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %ul#monpack_infos
        %li
          %h3{:style => "color: #f99c43;"} Le Pack de base contient :
        %li
          %h6 1. Le logement dans la résidence au pied des pistes. Taxes de séjour comprises.
        %li
          %h6 2. Le Pack Food pour 7 jours (matin, midi et soir) quelques soit ton régime alimentaire.
        %li
          %h6 3. Le forfait domaine pour skier pendant tout le séjour.
        %li
          %h6 4. Les animations sur les pistes : compétitions, barbecue... (hors activités spéciales payantes)
        %li
          %h6 5. Les animations soirées (hors RCC).
        %li
          %h6 6. Les Goodies ! Un casque et plein d'autres surprises...
    .row
      .input-field.col.s12.m4.offset-m4
        - if (@user && current_page?(new_personne_user_path(@user)))
          =fp.select :id, Product.where(name: "Pack Extérieurs").map{|t| ["#{t.name} : #{t.price_euro.round}€" ,t.id, data: {name: t.name, price: "#{t.price_euro.round}€"} ]}
        - else
          - if @personne.is_pg?
            =fp.select :id, Product.where(name: "Pack PG").map{|t| ["#{t.name} : #{t.price_euro.round}€" ,t.id, data: {name: t.name, price: "#{t.price_euro.round}€"} ]}
          - elsif @personne.is_jp? or @personne.is_archi?
            =fp.select :id, Product.where(name: "Pack Archi").map{|t| ["#{t.name} : #{t.price_euro.round}€" ,t.id, data: {name: "Pack Archi", price: "#{t.price_euro.round}€"} ]}
          - else
            =fp.select :id, Product.where(name: "Pack Extérieurs").map{|t| ["#{t.name} : #{t.price_euro.round}€" ,t.id, data: {name: "Pack Extérieurs", price: "#{t.price_euro.round}€"}]}

    %br/
    %a.btn.waves-effect.waves-light.right{:href => "#le_transport"}
      Suivant
      %i.material-icons.right send

