#les_skis.divider.scrollspy
.container
  .row
    .col.s12.light-blue.white-text.center
      %h4 Les Skis

.section.sfullscreen
  .container
    .row
      %p Les informations ne seront sauvegardées qu'à la fin de l'inscription
      %h5 Choisis la gamme de ski que tu souhaites
      %table
        %thead
          %tr
            %th Gamme
            %th Contenu
        %tbody
          - Gamme.all.each do |g|
            %tr
              %td= g.nom
              %td
                - g.products.each do |gp|
                  #{gp.name} : #{gp.price_euro.round}€
                  %br/

      .input-field.col.s12.m4.offset-m4
        = fp.select :id, grouped_options_for_select(Gamme.all.map{ |group| [group.nom, group.products.map{ |c| [c.name, c.id, data: {name: c.name, price: "#{c.price_euro}€"}] } ] }), prompt: "Je veux :"

      %br/
      %a.btn.waves-effect.waves-light.right{:href => "#les_anims"}
        Suivant
        %i.material-icons.right send

