= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .container 
    .field.pure-control-group
      = f.label :name
      <br/>
      = f.text_field :name, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :event_id
      <br/>
      = f.select :event_id, Event.all.map{|g| [g.name,g.id]}, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :categorie_id
      <br/>
      = f.select :categorie_id, Categorie.all.map{|g| [g.nom,g.id]}, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :price
      <br/>
      = f.text_field :price, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :stock
      <br/>
      = f.text_field :stock, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :max_par_personne
      <br/>
      = f.text_field :max_par_personne, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :echeance
      <br/>
      = f.date_field :echeance, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label :description
      <br/>
      = f.text_field :description, :class => "pure-input-1-3"
    .field.pure-control-group
      = f.label "Gamme de ski (ne sert que pour les produits de ski)"
      <br/>
      = f.select :gamme_id, options_for_select(Gamme.all.map{|t| [t.nom,t.id]}), include_blank: true
    .field.pure-control-group
      = f.label "Type de produit (sert pour le moment à distinguer certaines anims: slalom,derby, etc )"
      <br/>
      = f.select :type_product_id, options_for_select(TypeProduct.all.map{|t| [t.nom,t.id]}), include_blank: true
      <br/>
    .field.pure-control-group
      = f.check_box :votable
      = f.label :votable, "Preference ? (Sert pour les anim's qu'on peut noter)"
    <br/>
    .field.pure-control-group
      = f.label "Option supplémentaire (sert pour d'éventuelles options supplémentaires (cette année les masques Ryft))"
      <br/>
      = f.select :option_sup_id, options_for_select(OptionSup.all.map{|t| ["#{t.nom} #{t.couleur_cadre}/#{t.couleur_verre} ",t.id]}), include_blank: true


      = f.submit 'Enregistrer', class: "pure-button pure-button-success"
