%nav
  .mw960p.center
    .pa2
      %ul.inline
        %il= link_to "Acc", root_path
        %il= link_to "Personnes", personne_index_path
        %il= link_to "Produits", product_index_path
        %il= link_to "Commandes", commande_index_path
        %il= link_to "Evenements", event_index_path
        %il= render 'layouts/user_widget'