<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", media: "all"%>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<%= Gon::Base.render_data %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Skioz'Arts</title>
</head>
<body>

	<%= render 'layouts/menu' %>
	<%= render 'layouts/navbar' %>

<!--
	<% flash.each do |key, value| %>
	<div id="notif" class="">
		<div class="<%= key %> notif"><%= value %></div>
	</div>
	<% end %>
-->
 
	<%= custom_bootstrap_flash %>
       
        <div id="wrapper">
        	<%= yield %>
        </div>

	<%if ENV['RAILS_ENV'] == "development"%>
	<div id="debug">ENV: <%= ENV['RAILS_ENV'] %><br/><%= debug(params) %><%= request.headers["X-Real-IP"] %></div>
	<%end%>



	<%if ENV['RAILS_ENV'] == "production"%>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
	{ (i[r].q=i[r].q||[]).push(arguments)}

	,i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-1822825-35', 'auto');
	ga('send', 'pageview');

	</script>
	<%end%>

	<div class='footer center txtcenter container'>
	157 & 84 Me211 - 144 & 53 Me215 & 97Ch215 - <a href="http://skz.ueensam.org/" >skz.ueensam.org</a> - Contact : skz.ue@gadz.org
	</div>

</body>
</html>
