<!DOCTYPE html>
<html>
<head>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<title>Resa-SKZ</title>
</head>
<body>

	<%= render 'layouts/menu' %>


	<% flash.each do |key, value| %>
	<div id="notif" class="mw960p center pa1">
		<div class="<%= key %> notif"><%= value %></div>
	</div>
	<% end %>
<!-- 
	<%= javascript_include_tag "application" %>
	<%= custom_bootstrap_flash %>
 -->
	<div id="wrapper" class="mw960p center">
		<%= yield %>
	</div>

	<%if ENV['RAILS_ENV'] == "development"%>
	<div id="debug">ENV: <%= ENV['RAILS_ENV'] %><br/><%= debug(params) %><%= request.headers["X-Real-IP"] %></div>
	<%end%>

	<div class='footer center txtcenter'>
	<a href="http://skz.ueensam.org/" >skz.ueensam.org</a> - Contact : skz.ue@gadz.org
	</div>

</body>
</html>
