<!DOCTYPE html>
<html>
<head>
	<title>Skioz'Arts</title>
	<%= stylesheet_link_tag    "application", media: "all"%>
	<%= javascript_include_tag "application" %>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<%= csrf_meta_tags %>
	<%= Gon::Base.render_data %>
</head>
<body>

	<%if user_signed_in?%>
		<%= render 'layouts/menu' %>
	<%end%>
		
	<%= javascript_include_tag "application" %>
	<%= custom_bootstrap_flash %>


	<div id="wrapper2">
		<%= render 'layouts/navbar' %>
		<%= yield %>
	</div>

	<%if ENV['RAILS_ENV'] == "development"%>
	<div id="debug">ENV: <%= ENV['RAILS_ENV'] %><br/><%= debug(params) %><%= request.headers["X-Real-IP"] %></div>
	<%end%>

</body>
</html>
